<form method="post" action="/create_user">
  <div>Welcome to the Message Board</div>
  <div>Welcome, Create a new account.</div>
  <label for="nuser">Username</label>
  <input type="text" name="nuser" id="nuser">
  <label for="npass">Password</label>
  <input type="text" name="npass" id="npass">
  <input id= Create type="submit" value="Create A New Account">
</form>
<form method="post" action="login">
  <div>Welcome Back, Sign in.</div>
  <label for="user">Username</label>
  <input type="text" name="user" id="user">
  <label for="pass">Password</label>
  <input type="password" name="pass" id="pass">
  <input id= Sign type="submit" value="Sign In">
</form>